.checkinput {
	background-color: #272822;
	color: #f8f8f2;
	border: 2px solid #444;
}

.checkbutton {
	background-color: #837980;
	color: #f8f8f2;
	border: 2px solid #444;
}

.spiderimg {
	width: 200px;
}